In [3]:
import pandas as pd
import random
from itertools import chain
import numpy as np

In [8]:
def generatedata():
    data = pd.read_csv('data/people.csv')
    
    ##################### WARNING!!
    # remove records with decile_score = -1
    # not sure yet what that is, but for now we're going to clean that data out
    data = data[data.decile_score > 0]
    
    ##################### WARNING!!!
    # need to create a target variable for whether defendant was remanded or released on bail.
    # hopefully we will have this data in the future; for now, artificially create this data:
    # for participants where compas decile_score > 6: remand; if decile_score < 3: release; else, randomly select remand or release

    deciles = data['decile_score']
    release = []

    for x in deciles:
        if x > 6:
            release.append(random.choices([0,1],weights=[90,10]))
        elif x < 4:
            release.append(random.choices([0,1],weights=[10,90]))
        else:
            release.append(random.choices([0,1],weights=[50,50]))

    # re-insert into data frame
    data['release'] = list(chain.from_iterable(release))
        
    return data

In [8]:
def generatetestdata():
    data = pd.read_csv('data/people.csv')
    
    parameters = {'B': [[0.57140259],
                        [0.42888905],
                        [0.5780913 ],
                        [0.20609823],
                        [0.81332125],
                        [0.82358887],
                        [0.65347253],
                        [0.16022956]],
                  'b': 5.206693596399246,
                  'q': 0.32777281162209315,
                  'sd_prior': 2.4999667668640035,
                  'tau': 6,
                  'Theta': 1}
    
    return(parameters)

In [10]:
parameters = generatetestdata()
parameters

{'B': [[0.57140259],
  [0.42888905],
  [0.5780913],
  [0.20609823],
  [0.81332125],
  [0.82358887],
  [0.65347253],
  [0.16022956]],
 'b': 5.206693596399246,
 'q': 0.32777281162209315,
 'sd_prior': 2.4999667668640035,
 'tau': 6,
 'Theta': 1}

In [9]:
# check how many released/remanded
data = generatedata()
data.release.value_counts()

1    6785
0    4957
Name: release, dtype: int64

In [10]:
# check how many released/remanded by decile_score
pd.crosstab(data.decile_score, data.release)

release         0     1
decile_score
1             253  2324
2             151  1421
3             123  1136
4             610   589
5             510   524
6             503   490
7             812    88
8             715    81
9             725    77
10            555    55